<% provide(:title, "About") %>
<title><%= yield(:title) %> - OPTC Teams</title>

<div class="container">
    
    <div class="container">
    <aside class="col-sm-12 col-md-3">
        <h1>OPTC Teams <br><small>About</small></h1>
    </aside>
    <div class="container col-sm-12 col-md-9">
        <h3>About OPTC Teams</h3>
        <p class="well">Hey guys, its <a href="https://www.twitter.com/irvollo">irvollo</a> a big fan of One Piece and One Piece Treasure Cruise, as well.
        I started playing OPTC almost 2 years ago. In that moment the content on the game was chill and can be easily done with almost any team.
        But after some time the content became harder with every new raidboss, colosseum or new units introduced that it seems almost impossible 
        to keep the pace. So that's why I created the OPTC Team database so that everyone can find a team that fits their box and the creative people
        who likes to build teams share the knowledge with the community.
        <br>
        <br>
        Have fun nakamas.
        <br>
        Irvollo.
        </p>
    </div>
</div>



