<li id="stage-<%= stage.id %>">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title"><%= "Stage #{stage.number}" %></h4>
      </div>
      <div class="panel-body">
        <%= "#{stage.description}" %>
      </div>
    </div>
</li>